
body
{
  font-size: 30pt;
 background-color:#ffff11;
 
 }

.container{
  text-align:center;
  margin-top:100px;
}
.btn{
  border:5px solid #3498bd;
   padding:10px 20px;
   font-size:60px;
   font-family:"montserrat"
   margin:10px;
   background-color:#FFA500
}
.btn1,.btn2,.btn3,.btn4{
  color:#A52A2A;
  border-radius:100px;
  
}
.apk1{
  color:#008000;
}
